.item {
    cursor: pointer;
    width: 350px;

}
.item p {
    margin: 6px 0px;
}
.item-prices {
    display: flex;
    gap: 20px;
}
.item-price-new {
    color: var(--black-color);
    font-weight: 600;
    font-size: 18px;
}
.item-price-old {
    color: var(--gray-color);
    font-weight: 500;
    font-size: 18px;
    text-decoration: line-through;
}
.item:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}