.footer {
    margin-top: 50px;
    color: var(--black-color);
}
.footer__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer__logo p {
    font-size: 46px;
    font-weight: 500;
}
.footer__links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.footer__links li {
    padding: 12px;
    font-weight: 500;
    cursor: pointer;
}
.footer__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
}
.footer__icons-container {
    border: 1px solid var(--black-color);
    border-radius: 12px;
    padding: 8px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
}
.footer__icons-container:hover {
    border: 1px solid var(--primary-color);
}
.footer__copyright {
    text-align: center;
    margin: 20px 0;
    font-size: 16px;
}
.footer__copyright hr {
    width: 100%;
    height: 3px;
    background-color: var(--primary-color);
    margin: 10px 0;
}
.footer__copyright p {
    color: var(--gray-color);
    font-weight: 500;
}